* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: large;
}

.box {
    border: 5px solid black;
    width: 800px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}