* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

html,
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, rgb(193, 193, 193), rgb(107, 107, 107)), linear-gradient(157.5deg, rgb(0, 165, 230) 0%, rgb(0, 165, 230) 39%, rgb(17, 149, 218) 39%, rgb(17, 149, 218) 56%, rgb(35, 132, 206) 56%, rgb(35, 132, 206) 60%, rgb(52, 116, 195) 60%, rgb(52, 116, 195) 68%, rgb(70, 99, 183) 68%, rgb(70, 99, 183) 86%, rgb(87, 83, 171) 86%, rgb(87, 83, 171) 100%), linear-gradient(135deg, rgb(0, 165, 230) 0%, rgb(0, 165, 230) 39%, rgb(17, 149, 218) 39%, rgb(17, 149, 218) 56%, rgb(35, 132, 206) 56%, rgb(35, 132, 206) 60%, rgb(52, 116, 195) 60%, rgb(52, 116, 195) 68%, rgb(70, 99, 183) 68%, rgb(70, 99, 183) 86%, rgb(87, 83, 171) 86%, rgb(87, 83, 171) 100%);
    background-blend-mode: overlay, overlay, normal;
}

#to-do-list-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    background-color: rgb(255, 255, 255);
    padding: 2em;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

button {
    background-color: rgb(70, 99, 183);
    color: rgb(255, 255, 255);
    padding: .5rem 1rem;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform .2s;
}

button:hover {
    background-color: rgb(52, 116, 195);
    transform: scale(1.1);
}

i {
    font-size: .8rem;
}

#header h1 {
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

input-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: rgb(240, 255, 255) !important;
    color: rgb(107, 107, 107) !important;
}

@media screen and (max-width: 700px) {
    #to-do-list-container {
        width: 300px;
    }

    .item-to-do-list p {
        width: 100%;
    }

    .item-to-do-list button {
        padding: .2rem .6rem;
        margin: auto;
    }
    
    .item-to-do-list i {
        font-size: .6rem;
        transition: transform .2s;
    }
    
    .item-to-do-list i:hover {
        transform: translateY(-1.5px);
    }
}