#to-do-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    padding: .5rem 0;
    width: 100%;
    height: 194px;
    overflow-y: auto;
}

.item-to-do-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .3rem;
    padding: .5rem 0;
}

.item-to-do-list p {
    width: 65%;
    padding-left: 0.3rem;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: .9rem;
}

.remove-to-do-list {
    margin-right: .3rem;
}

.item-to-do-list-finish {
    background-color: rgb(70, 99, 183);
    color: rgb(255, 255, 255);
}

.item-to-do-list-finish p {
    text-decoration: line-through;
}

.item-to-do-list-finish button {
    background-color: rgb(255, 255, 255);
    color: rgb(70, 99, 183);
}