.dev {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.dev:hover {
    border-color: blueviolet;
}

.frontEnd {
    background-color: lightcyan;
    color: blue;
}

.backEnd {
    background-color: greenyellow;
    color: green;
}