* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 57, 65);
    gap: 2rem;
}

.divs {
    background-color: rgb(83, 93, 102);
    padding: 2rem 3rem;
    border: 2px solid rgb(150, 164, 175);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#container-input > input {
    color: rgb(49, 57, 65);
}

button {
    background-color: rgb(49, 57, 65);
    padding: .5rem;
    border-radius: 15px;
    border: 2px solid rgb(150, 164, 175);
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: rgb(69, 81, 92);
}

#container {
    width: 340px;
    height: 550px;
    overflow-y: auto;
}

.programação {
    background-color: rgb(49, 57, 65);
    padding: .5rem;
    border-radius: 15px;
    border: 2px solid rgb(150, 164, 175);
    text-align: center;
    cursor: pointer;
}

.programação:hover {
    background-color: rgb(69, 81, 92);
}