* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html, body {
    width: 100vw;
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: 15px;
}

#container-array {
    background-color: rgb(255, 148, 129);
    border: 2px solid rgb(247, 61, 28);
    height: 100px;
}

#container-reduce {
    background-color: rgb(171, 241, 218);
    border: 2px solid rgb(4, 165, 111);
}

#container-result {
    background-color: rgb(198, 198, 255);
    border: 2px solid rgb(28, 28, 255);
    height: 100px;
}

#button-reduce {
    padding: .25rem .5rem;
    border-radius: 15px;
    font-size: .75rem;
    cursor: pointer;
    background-color: rgb(113, 184, 255);
}

#button-reduce:hover {
    background-color: rgb(152, 203, 255);
}